<div class="container credentials-form margin-navbar">
  <h2 style="text-align: center">Entrar</h2>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.error_notification %>
      <%= f.input :email,
                  label: "Email",
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  label: "Senha",
                  required: true,
                  hint: ("#{@minimum_password_length} caracteres no mínimo" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me,"Lembrar minhas credenciais" %>
    </div>
    <%= f.button :submit, "Entrar", class: "btn-dark" %>
    <%= f.button :button, "Cancelar", type: "reset", class: "btn-outline-secondary" %>
      <% if devise_mapping.rememberable? %>
  <% end %>
  <% end %>
</div>
